#about {
  width: 70%;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding: 1rem;

  .container {
    width: 50%;
    height: 100%;
    border: 3px solid $accent-color-1;
    background-color: $background-color-2;
    border-radius: 0.5rem;
    padding: 0.5rem;
    overflow-y: auto;
  }
}
