#about {
  width: 70%;
  height: 480px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding: 1rem;
  color: white;

  a {
    color: white;
  }

  .container {
    width: 50%;
    height: 100%;
    border: 3px solid $accent-color-1;
    background: $nav-background;
    border-radius: 0.5rem;
    padding: 0.5rem;
    overflow-y: auto;
    text-align: center;

    /* Scrollbar styling */
    scrollbar-width: thin; 
    scrollbar-color: rgba(0, 0, 0, 0.8) transparent; 

    
    &::-webkit-scrollbar {
      width: 6px; 
    }

    &::-webkit-scrollbar-track {
      background: transparent; 
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.8); 
      border-radius: 3px; 
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 1); 
    }
  }

  .container blockquote {
    background: rgba(255, 255, 255, 0.41);
    color: $accent-color-1;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;

    a {
      color: $accent-color-1;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap; 
    gap: 0.5rem; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
  }

  li {
    background: rgb(27, 108, 27);
    color: white; 
    padding: 0.5rem; 
    border-radius: 5px; 
    flex: 1 1 auto; 
    text-align: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
}
