#contribute {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  color:lightgray;
  
  
  .container:nth-of-type(2) {
    text-align: left;
    h3 {
      font-size: larger;
    }
    ol {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    li {
      box-shadow: $box-shadow;
      // padding:5px;
      // padding-top:30px;
      border-radius: 0.5rem;
      background-color: rgb(27, 108, 27);
      list-style: none;
      width: 20%;
      height: 140px;
      overflow: hidden;
      text-align:center;
      margin:0;
      font-size: 1rem;
      padding:20px 20px;
    }
  }
}

#contribute .container h3 {
  
  text-align: center;
  font-size:2rem;
  color:lightgrey;
  
}
#contribute .container h2 {
  
  font-size: 2.7rem;
  
}

#contribute .container a{
  color:lightgrey;
}
#contribute .container p{
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  #contribute {
      padding: 10px;
      line-height: 1.5em;
  }
  #contribute .container:nth-of-type(2) ol {
      flex-direction: column;
      gap: 10px;
  }
  #contribute .container:nth-of-type(2) li {
      width: 100%;
      height: auto;
  }
}


