#contribute {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;

  .container:nth-of-type(2) {
    text-align: left;
    h3 {
      font-size: larger;
    }
    ol {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    li {
      box-shadow: $box-shadow;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: forestgreen;
      list-style: none;
      width: 23%;
      height: 120px;
    }
  }
}
