#files a{
  background-color:$accent-color-1;
  padding: 10px 10px;
  border-radius: 10px;
  margin:60px;
  text-decoration: none;
  color:rgb(253, 253, 253);
}

#files .container h3{
  color:forestgreen;
}
.page-footer{
    text-align: center;
    background-color: lightgrey;
}
.link-github svg {
    width: 50px;
    height: 50px;

    path {
      fill: gold;
    }
  }

.page-footer .container ul{
 list-style: none;
}