$nav-background: linear-gradient(
  to right,
  #b22222 0%,
  #8a1f1f 50%,
  #671f1f 100%
);
nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background: $nav-background;

  ul {
    width: 40%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      a {
        color: $text-color;
        text-decoration: none;
      }
    }
  }
}
